/* Add CSS Styling */

.odd {
    background-color: #f8c8d8;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.cooler {
    font-size: 24px;
}

#even{
    color: #0000FF;
    font-size: 36px;
}

#even2{
    background-color: #3cbd3c;
    font-weight: bold;
    font-size: 24px;
}